.attribution {
	height: 100%;
	font-size: 12px;
	text-align: center;
}
.attribution a {
	color: var(--very-dark-gray-blue);
	text-decoration: none;
}

.attribution a:hover {
	color: var(--gray-blue);
}
