/* Colors */

:root {
	--very-dark-gray-blue: hsl(217, 19%, 35%); // #48556A
	--desaturated-dark-blue: hsl(214, 17%, 51%); // #6E8098
	--gray-blue: hsl(212, 23%, 69%); // #9DAEC2
	--light-gray-blue: hsl(210, 46%, 95%); // #ECF2F8
	--white: hsl(0, 0%, 100%); // #FFFFFF
}
